<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <title>GROUP 3 CALENDAR APP</title>
    </head> 
<body>
  <header>
    <form action="/calendar/new-event" method="GET"> 
      <button action="submit"> New Event </button>
    </form>
    <br><br>
    <form action="/logout" method="GET"> 
      <button action="submit"> Logout </button>
    </form>

    <% events.forEach((userEvent) => { %>
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title"><%= userEvent.title %></h5>
          <p class="card-text"><%= userEvent.description %></p>
          <p class="card-text"><%= userEvent.date %></p>
        </div>
      </div>
    <% }) %>

  </header>
  <footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
  </footer>
</body>
</html>